---
import arrowIconRed from "../assets/btn-arrow-red.svg";
import arrowIconWhite from "../assets/btn-arrow-white.svg";
import arrowIcon from "../assets/btn-arrow.svg";
import phoneMockup from "../assets/chat-mockup.webp";
import clientsIcon from "../assets/clients-icon.svg";
import revenueIcon from "../assets/revenue-icon.svg";
import loadsIcon from "../assets/truck-icon.svg";

import graph1Img from "../assets/graph-1.webp";
import graph2Img from "../assets/graph-2.webp";
import step1Img from "../assets/step-1-img.png";
import step2Img from "../assets/step-2-img.png";
import step3Img from "../assets/step-3-img.png";

import Accordion from "../components/Accordion.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/pages/index.scss";
---

<Layout title="GoDispatch: Your Route to Profitable Trucking Ventures">
  <Header />
  <main>
    <!-- HERO SECTION -->
    <section class="hero-section">
      <div class="container wrapper">
        <div class="hero-text">
          <h1 class="fs-primary-header fw-bold">
            Truck <span class="highlight" style="color: #240000">Dispatch</span>
            Service! Get loads that pay 15% higher than load boards
          </h1>
          <p>
            We bring you the highest paying freight to your truck. Guaranteed
            results or you DON'T pay us!
          </p>

          <Button
            text="Start Free Trial"
            icon={arrowIcon}
            class="btn-primary fw-bold fs-small hero-btn"
          />
        </div>
        <iframe
          title="Mouse scroll animated icon"
          class="scroll-mouse"
          src="https://lottie.host/?file=c72cd870-1028-4806-9b11-e4c30c0b88d5/oCAnQOsIds.json"
        ></iframe>
      </div>
    </section>

    <!-- SERVICES SECTION -->
    <section class="services-section">
      <div class="container service-wrapper">
        <div class="services-description">
          <h2 class="fs-secondary-header fw-bold">
            What We <span class="highlight" style="color: #fdf7f7">Do</span>
          </h2>
          <p class="services-text">
            We make running your trucking business easy, fun, and profitable.
            Our dispatchers will book and dispatch you loads that pay 15% higher
            than load boards. Sit back & relax while we take care of your
            operations.
          </p>

          <ul class="services-list">
            <div class="box">
              <li>
                <div class="service-ico">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="32"
                    fill="none"
                  >
                    <path
                      fill="#FF4342"
                      d="M43.568 6.87h-6.476V2.82c-.002-.748-.346-1.464-.957-1.993C35.525.3 34.696.001 33.833 0h-22.67C10.3 0 9.471.298 8.86.827c-.611.528-.955 1.245-.957 1.992V5.96h8.086v3.569H3.612v3.569h4.29v5.212H0v3.569h7.902v5.458h4.703c.207-1.2.905-2.295 1.967-3.087 1.062-.792 2.417-1.227 3.82-1.227 1.401 0 2.756.435 3.818 1.227 1.062.792 1.76 1.888 1.967 3.087h8.973c0-.018 0-.018.02-.035.157-.92.606-1.782 1.298-2.491.693-.71 1.6-1.237 2.621-1.524.59-.18 1.211-.27 1.836-.268 1.395.002 2.742.435 3.8 1.22 1.06.785 1.76 1.87 1.976 3.063h4.517V11.759c-.002-1.296-.598-2.538-1.657-3.454-1.059-.917-2.495-1.433-3.993-1.435Zm1.527 10.225h-8.003v-6.656h6.476c.404.002.791.142 1.077.39.285.246.447.58.45.93v5.336Z"
                    ></path>
                    <path
                      fill="#FF4342"
                      d="M18.372 31.405c2.126 0 3.85-1.49 3.85-3.33 0-1.838-1.724-3.329-3.85-3.329-2.125 0-3.849 1.49-3.849 3.33 0 1.839 1.724 3.33 3.85 3.33ZM38.955 31.405c2.125 0 3.849-1.49 3.849-3.33 0-1.838-1.724-3.329-3.85-3.329-2.125 0-3.849 1.49-3.849 3.33 0 1.839 1.724 3.33 3.85 3.33Z"
                    ></path>
                  </svg>
                </div><p>Dispatch Service</p>
              </li>
              <li>
                <div class="service-ico">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="40"
                    fill="none"
                  >
                    <path
                      fill="#FF4342"
                      d="M24.626 32.426v2.858l2.745-2.858h-2.745Zm1.022-23.35c.577 0 .577.91 0 .91h-4.37c-.577 0-.577-.91 0-.91h4.37Zm0 4.17c.577 0 .577.91 0 .91H11.732c-.577 0-.577-.91 0-.91h13.916Zm0 3.604c.577 0 .577.91 0 .91h-8.313c-.577 0-.577-.91 0-.91h8.313Zm0 3.605c.577 0 .577.91 0 .91h-5.035c-.577 0-.577-.91 0-.91h5.035Zm0 3.614c.577 0 .577.91 0 .91h-3.252c-.576 0-.576-.91 0-.91h3.252ZM6.111 19.172l1.931-.765V5.544c0-.255.193-.455.438-.455h16.696V3.004H6.111v16.168Zm-2.815 1.12 1.94-.775V2.55c0-.255.193-.455.437-.455H22.37V0H3.296v20.291Zm11.993 13.236c-.41.846-.874 1.647-1.372 2.403h9.843v-3.96c0-.246.192-.455.437-.455H28V5.999H8.917v12.408l8.636 3.441c.167.064.28.237.28.428-.043 4.178-.979 8.047-2.544 11.252ZM8.48 40c2.623-1.511 4.651-4.06 6.024-6.882 1.468-3.004 2.36-6.627 2.456-10.542L8.48 19.2 0 22.576c.087 3.915.988 7.538 2.456 10.542C3.951 36.177 6.041 38.589 8.48 40ZM6.723 28.675c-.288-.518.472-.965.752-.455l1.215 2.194 5.036-5.243c.402-.428 1.022.218.62.646l-5.437 5.662a.425.425 0 0 1-.682-.09l-1.504-2.713Zm5.08.938c0-.6.874-.6.874 0 0 2.413-1.88 4.37-4.196 4.37-2.317 0-4.197-1.957-4.197-4.37 0-3.65 4.04-5.662 6.767-3.45a.464.464 0 0 1 .078.637.422.422 0 0 1-.612.082 3.236 3.236 0 0 0-4.388.282c-1.303 1.357-1.303 3.541 0 4.889a3.231 3.231 0 0 0 4.694 0 3.45 3.45 0 0 0 .98-2.44Z"
                    ></path>
                  </svg>
                </div><p>FMCSA Compliance</p>
              </li>
              <li>
                <div class="service-ico">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="46"
                    fill="none"
                  >
                    <path
                      fill="#FF4342"
                      d="M24.511 23.254c-.046 1.973-3.167 3.565-7.011 3.565-3.845 0-6.966-1.592-7.011-3.565C4.607 23.757 0 28.39 0 34.03c0 5.068 3.718 5.828 8.738 5.942v-1.71c0-1.161 1.007-2.105 2.247-2.105h2.696v-.281a2.248 2.248 0 0 1 2.247-2.245h2.695v-.14c0-1.338.987-2.386 2.248-2.386h3.144c1.26 0 2.247 1.047 2.247 2.385v6.482C31.282 39.858 35 39.1 35 34.03c0-5.64-4.606-10.273-10.489-10.776Z"
                    ></path>
                    <path
                      fill="#FF4342"
                      d="M7.791 15.76c.253.064.519.1.794.1h.552c1.143 4.827 4.454 8.32 8.363 8.32 3.51 0 6.53-2.822 7.94-6.891.662-.44 1.21-.945 1.614-1.5l.098-.016c1.245-.288 2.164-1.281 2.164-2.468V11.3c0-1.186-.919-2.18-2.164-2.468V8.52c0-4.697-4.344-8.52-9.682-8.52-5.337 0-9.68 3.823-9.68 8.521v.324c-1.214.305-2.106 1.288-2.106 2.456v2.005c0 1.168.892 2.15 2.107 2.455Zm9.68-13.981c3.886 0 7.097 2.561 7.588 5.865a8.85 8.85 0 0 0-7.56-4.212 8.852 8.852 0 0 0-7.636 4.336c.428-3.364 3.675-5.99 7.607-5.99ZM11.076 14.31s-.873-4.857.971-5.54c0 0 2.543 1.158 5.452 1.233 2.907-.075 5.452-1.232 5.452-1.232 1.843.682.969 5.538.969 5.54a3.85 3.85 0 0 1 1.21-.535v.116a13.916 13.916 0 0 1-.26 1.573c-1.204 1.02-3.273 1.756-5.647 1.892-.22-.175-.501-.284-.812-.284h-1.679c-.699 0-1.265.531-1.265 1.185s.566 1.185 1.265 1.185h1.679c.34 0 .648-.128.876-.334 1.758-.092 3.363-.461 4.696-1.037-1.374 2.911-3.763 4.84-6.484 4.84-3.91 0-7.142-3.98-7.65-9.14a3.87 3.87 0 0 1 1.227.538ZM14.13 37.84h-3.145c-.248 0-.45.19-.45.422v6.736c0 .232.202.42.45.42h3.144c.249 0 .45-.188.45-.42v-6.736c0-.232-.201-.421-.45-.421ZM19.07 35.315h-3.144c-.248 0-.45.252-.45.561v8.982c0 .31.202.56.45.56h3.145c.249 0 .449-.25.449-.56v-8.981c0-.31-.2-.562-.45-.562ZM24.014 32.79H20.87c-.249 0-.45.314-.45.701v11.227c0 .387.201.7.45.7h3.144c.248 0 .45-.313.45-.7V33.49c0-.386-.201-.7-.45-.7Z"
                    ></path>
                  </svg>
                </div><p>Roadside Assistance</p>
              </li>
            </div>
            <div class="box">
              <li>
                <div class="service-ico">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="33"
                    height="35"
                    fill="none"
                  >
                    <path
                      fill="#FF4342"
                      d="M19.913 19.592c1.743 0 3.324.653 4.468 1.707 1.143 1.055 1.85 2.513 1.85 4.12 0 1.609-.707 3.066-1.85 4.12-1.144 1.055-2.725 1.708-4.468 1.708-1.744 0-3.324-.653-4.468-1.707-1.143-1.055-1.85-2.512-1.85-4.12s.707-3.066 1.85-4.12c1.144-1.055 2.724-1.708 4.468-1.708ZM17.856 2.434c-.29 0-.527-.218-.527-.486s.236-.486.527-.486h4.115c.29 0 .527.218.527.486s-.236.486-.527.486h-4.115Zm3.94 21.677c0 .268-.236.486-.527.486-.29 0-.527-.218-.527-.486 0-.107-.073-.213-.19-.296a1.112 1.112 0 0 0-.639-.18c-.257 0-.483.07-.638.18-.118.083-.19.189-.19.296 0 .12.09.247.234.375.204.18.5.348.829.5.419.195.803.416 1.088.669.346.306.56.66.56 1.072 0 .424-.23.8-.603 1.063-.21.15-.468.263-.753.327v.346c0 .268-.236.486-.527.486-.29 0-.527-.218-.527-.486v-.346a2.094 2.094 0 0 1-.753-.327c-.372-.264-.603-.64-.603-1.063 0-.268.237-.486.527-.486.29 0 .527.218.527.486 0 .107.073.213.191.297.155.11.381.179.638.179s.483-.069.638-.18c.118-.083.191-.189.191-.296 0-.119-.09-.246-.234-.374-.204-.18-.5-.349-.83-.5-.418-.194-.802-.416-1.088-.669-.345-.306-.56-.66-.56-1.073 0-.423.231-.799.603-1.063.21-.15.469-.263.753-.326v-.347c0-.267.237-.485.527-.485.29 0 .527.218.527.485v.347c.285.063.543.177.753.326.372.264.603.64.603 1.063ZM3.646 12.533H0v17.32h3.647v-17.32ZM0 11.561h3.647v-1a.673.673 0 0 0-.22-.487.779.779 0 0 0-.531-.203H.748a.778.778 0 0 0-.528.2.663.663 0 0 0-.22.49v1Zm3.553 19.264H.089l1.723 2.905 1.74-2.905Zm7.49-22.221c-.29 0-.526-.218-.526-.486s.236-.486.527-.486h17.739c.29 0 .527.218.527.486s-.236.486-.527.486h-17.74Zm0 3.539c-.29 0-.526-.218-.526-.486s.236-.486.527-.486h17.739c.29 0 .527.218.527.486s-.236.486-.527.486h-17.74Zm0 4.21c-.29 0-.526-.217-.526-.485s.236-.486.527-.486h17.739c.29 0 .527.218.527.486s-.236.486-.527.486h-17.74ZM26.02.25v1.828c0 .697-.31 1.332-.81 1.793a2.869 2.869 0 0 1-1.945.748h-6.703a2.866 2.866 0 0 1-1.944-.746c-.501-.464-.811-1.099-.811-1.795V.249h-5.43c-.376 0-.72.142-.967.37a1.213 1.213 0 0 0-.402.892v31.476c0 .347.154.663.402.892.248.228.59.37.967.37H31.45c.378 0 .72-.141.968-.37a1.21 1.21 0 0 0 .401-.892V1.51a1.21 1.21 0 0 0-.4-.891 1.425 1.425 0 0 0-.969-.371H26.02Zm-11.16 0v1.828c0 .432.192.825.499 1.108.308.284.734.461 1.203.461h6.703c.468 0 .895-.177 1.201-.46.309-.284.5-.677.5-1.109V.249H14.861Z"
                    ></path>
                  </svg>
                </div><p>IFTA Tax</p>
              </li>
              <li>
                <div class="service-ico">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="43"
                    height="42"
                    fill="none"
                  >
                    <path
                      fill="#FF4342"
                      d="M11.98 37.157c.49 0 .886-.306.886-.683 0-.377-.396-.683-.886-.683s-.886.306-.886.683c0 .377.397.683.886.683ZM10.315 28.757c.167.13.39.2.627.2h.304c.237 0 .46-.07.628-.2l.734-.566c.5-.387 1.169-.6 1.88-.6h.304c.71 0 1.378.213 1.88.6l.734.566c.167.13.39.2.627.2h.304c.236 0 .46-.07.627-.2l.734-.566c.472-.364 1.092-.567 1.755-.59l-3.16-4.466a.56.56 0 0 1-.109-.328v-3.416h-7.09v3.416a.566.566 0 0 1-.108.328L7.826 27.6c.662.024 1.283.227 1.755.591l.734.566ZM16.412 13.924h-3.545v1.367h3.545v-1.367ZM18.184 16.657h-7.09v1.367h7.09v-1.367ZM4.888 38.524c.49 0 .887-.306.887-.683 0-.378-.397-.684-.887-.684s-.886.306-.886.684c0 .377.397.683.886.683Z"
                    ></path>
                    <path
                      fill="#FF4342"
                      d="m28.037 37.204-6.083-8.599h-.834c-.237 0-.46.072-.628.2l-.734.567c-.501.387-1.17.6-1.88.6h-.305c-.71 0-1.378-.213-1.88-.6l-.734-.566c-.167-.13-.39-.2-.627-.2h-.304c-.236 0-.46.07-.627.2l-.734.566c-.5.387-1.169.6-1.88.6h-.304c-.71 0-1.378-.213-1.88-.6l-.734-.566c-.167-.13-.39-.2-.627-.2h-.834L.324 37.203c-.212.3-.324.64-.324.982v.67c0 1.13 1.193 2.05 2.659 2.05h23.044c1.466 0 2.659-.92 2.659-2.05v-.67c0-.342-.112-.682-.325-.982ZM4.432 39.539c-1.466 0-2.66-.92-2.66-2.05s1.194-2.05 2.66-2.05c1.465 0 2.658.92 2.658 2.05s-1.193 2.05-2.659 2.05Zm3.545-7.517h1.772v1.367H7.977v-1.367Zm3.545 6.15c-1.466 0-2.659-.92-2.659-2.05s1.193-2.05 2.659-2.05c1.466 0 2.659.92 2.659 2.05s-1.193 2.05-2.66 2.05Zm8.863 1.367h-1.773v-1.367H16.84v1.367h-1.773v-1.367h1.773v-1.366h1.772v1.366h1.773v1.367Zm-2.659-4.1c-1.466 0-2.659-.92-2.659-2.05s1.193-2.05 2.659-2.05c1.466 0 2.659.92 2.659 2.05s-1.193 2.05-2.659 2.05Z"
                    ></path>
                    <path
                      fill="#FF4342"
                      d="M18.183 34.424c.49 0 .887-.306.887-.684 0-.377-.397-.683-.887-.683s-.886.306-.886.683c0 .378.397.684.886.684ZM41.227 13.924h-7.09v8.2h7.09v-8.2ZM34.137 38.524c0 1.507 1.59 2.733 3.545 2.733 1.955 0 3.545-1.226 3.545-2.733V23.49h-7.09v15.034Zm5.318-2.05h-1.773v-1.367h1.773v1.367Zm0-5.467h-1.773V29.64h1.773v1.367Zm-3.546-4.1h1.773v1.367h-1.773v-1.367Zm0 5.467h1.773v1.366h-1.773v-1.366Zm0 5.466h1.773v1.367h-1.773V37.84ZM32.363 11.19v1.367H43V11.19H32.363ZM15.525 2.307c0-.377.397-.683.886-.683h19.498c.489 0 .887.306.887.683v6.15h1.772v-6.15c0-1.13-1.193-2.05-2.659-2.05H16.411c-1.466 0-2.659.92-2.659 2.05v8.883h1.773V2.307Z"
                    ></path>
                  </svg>
                </div><p>Drug Test</p>
              </li>
              <li>
                <div class="service-ico">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="34"
                    height="37"
                    fill="none"
                  >
                    <path
                      fill="#FF4342"
                      d="M5.5 6.678H.112c.062-.132.15-.253.265-.363L6.283.62c.114-.11.24-.196.376-.256V5.56c0 .617-.52 1.119-1.16 1.119Zm12.03 9.451v-5.106a.298.298 0 0 0-.301-.292h-2.65a.298.298 0 0 0-.302.292v10.52c0 .162.136.292.302.292h1.743v3.122H8.82a.594.594 0 0 0-.605.583c0 .322.271.583.605.583h7.501v1.693H8.82a.594.594 0 0 0-.605.584c0 .322.271.583.605.583h7.501v1.693H8.82a.594.594 0 0 0-.605.583c0 .322.271.583.605.583h7.501v3.122H1.284C.577 34.964 0 34.407 0 33.725V7.844h5.5c1.305 0 2.368-1.025 2.368-2.284V.257H24.84c.708 0 1.285.556 1.285 1.238v14.282h-2.912V8.15a.297.297 0 0 0-.302-.291h-2.65a.298.298 0 0 0-.302.291v7.627h-1.128c-.476 0-.92.13-1.3.352ZM2.913 21.544c0 .16.136.291.302.291h2.65a.298.298 0 0 0 .302-.291v-4.777a.298.298 0 0 0-.302-.291h-2.65a.298.298 0 0 0-.302.291v4.777Zm3.44 8.045c0-.976-.826-1.773-1.84-1.773h-.275a.623.623 0 0 1-.63-.607c0-.333.285-.608.63-.608h.388c.21 0 .39.09.513.254.195.26.572.319.843.13a.57.57 0 0 0 .135-.813 1.873 1.873 0 0 0-1.136-.703v-.23a.594.594 0 0 0-.605-.584.594.594 0 0 0-.605.583v.255c-.804.204-1.372.91-1.372 1.716 0 .976.826 1.773 1.839 1.773h.276c.345 0 .63.274.63.607a.623.623 0 0 1-.63.608h-.389c-.21 0-.39-.09-.512-.255a.619.619 0 0 0-.843-.13.57.57 0 0 0-.135.814c.27.36.683.615 1.136.703v.23c0 .323.27.584.605.584a.594.594 0 0 0 .605-.583v-.255c.804-.204 1.372-.91 1.372-1.716Zm5.496-15.694a.298.298 0 0 0-.302-.291h-2.65a.298.298 0 0 0-.301.291v7.649c0 .16.136.291.302.291h2.65a.297.297 0 0 0 .301-.291v-7.649Zm7.075-8.864-.414 1.174a.577.577 0 0 0 .378.738.609.609 0 0 0 .765-.365l.923-2.612a.58.58 0 0 0-.447-.784l-2.835-.542a.603.603 0 0 0-.709.46.584.584 0 0 0 .477.684l1.259.24-14.03 7.81a.57.57 0 0 0-.22.795.616.616 0 0 0 .825.212l14.029-7.81Zm14.815 13.165v16.808c0 .689-.585 1.253-1.3 1.253H18.83c-.714 0-1.3-.564-1.3-1.253V18.196c0-.689.586-1.253 1.3-1.253h13.608c.715 0 1.3.564 1.3 1.253ZM22.424 31.941a.298.298 0 0 0-.302-.292h-1.995a.298.298 0 0 0-.303.292v1.923c0 .161.136.292.302.292h1.995a.298.298 0 0 0 .303-.292v-1.923Zm0-3.981a.298.298 0 0 0-.302-.291h-1.995a.298.298 0 0 0-.303.29v1.925c0 .16.136.29.302.29h1.995a.298.298 0 0 0 .303-.29V27.96Zm0-3.98a.298.298 0 0 0-.302-.292h-1.995a.298.298 0 0 0-.303.291v1.924c0 .16.136.292.302.292h1.995a.298.298 0 0 0 .303-.292V23.98Zm4.51 7.96a.298.298 0 0 0-.302-.29h-1.995a.298.298 0 0 0-.302.29v1.924c0 .161.136.292.302.292h1.995a.298.298 0 0 0 .302-.292v-1.923Zm0-3.98a.298.298 0 0 0-.302-.291h-1.995a.298.298 0 0 0-.302.29v1.925c0 .16.136.29.302.29h1.995a.298.298 0 0 0 .302-.29V27.96Zm0-3.98a.298.298 0 0 0-.302-.292h-1.995a.298.298 0 0 0-.302.291v1.924c0 .16.136.292.302.292h1.995a.298.298 0 0 0 .302-.292V23.98Zm4.51 3.98a.298.298 0 0 0-.302-.291h-1.995a.298.298 0 0 0-.302.29v5.905c0 .16.136.291.302.291h1.995a.298.298 0 0 0 .303-.291V27.96Zm0-3.98a.298.298 0 0 0-.302-.292h-1.995a.298.298 0 0 0-.302.291v1.924c0 .16.136.292.302.292h1.995a.298.298 0 0 0 .303-.292V23.98Zm0-4.534a.298.298 0 0 0-.302-.291H20.127a.297.297 0 0 0-.303.291v2.255c0 .161.136.292.302.292h11.016c.167 0 .303-.131.303-.292v-2.255Z"
                    ></path>
                  </svg>
                </div><p>Accounting & IRS Tax</p>
              </li>
            </div>
          </ul>
          <a href="/contact">
            <Button
              text="Start 14 Days Free Trial"
              icon={arrowIconWhite}
              class="btn-primary fw-bold fs-small"
              buttonStyle="color: white;"
            />
          </a>
        </div>

        <img
          class="phone-mockup"
          src={phoneMockup}
          alt="A phone chat mockup"
          width="580"
          height="710"
        />
      </div>
    </section>

    <!-- PROCESS SECTION -->
    <section class="process-section">
      <div class="container steps-wrapper">
        <h2 class="fs-secondary-header fw-bold">
          How GoDispatch <span class="highlight" style="color: #FFF0F0"
            >Works</span
          >
        </h2>
        <p class="process-description">
          Simple and quick 3 step processes to get started. Takes 5 minutes or
          less... and NO contracts!
        </p>
        <div class="process-container">
          <div class="step step-1">
            <img
              src={step1Img}
              alt="A person filling a contact form"
              loading="lazy"
            />
            <div class="step-text">
              <p>Step 1 <span class="dash"></span></p>
              <p>
                Fill out the contact form so we get in contact with you to learn
                more about your fleet size, trailer type, and your preferred
                routes.
              </p>
              <span class="number">01</span>
            </div>
          </div>
          <div class="step step-2">
            <img
              src={step2Img}
              alt="A team of dispatchers working"
              loading="lazy"
            />
            <div class="step-text">
              <p>Step 2 <span class="dash"></span></p>
              <p>
                We introduce you to our team of dispatchers and we will assign
                you a personal assistant that will be in charge of dispatching
                your loads, communications with brokers, and all the other
                wonderful services we have to serve your company's success
              </p>
              <span class="number">02</span>
            </div>
          </div>
          <div class="step step-3">
            <img src={step3Img} alt="A truck" loading="lazy" />
            <div class="step-text">
              <p>Step 3 <span class="dash"></span></p>
              <p>
                Now is the easy part... you just text or call your assistant and
                we will get you freight ready to haul within minutes
              </p>
              <span class="number">03</span>
            </div>
          </div>
        </div>

        <a href="/contact">
          <Button
            text="LET'S GET STARTED "
            icon={arrowIconWhite}
            class="btn-primary fw-bold fs-small"
          />
        </a>
      </div>
    </section>

    <!-- CASE STUDIES SECTION -->
    <section class="studies-section">
      <div class="container studies-wrapper">
        <h2 class="fs-secondary-header fw-bold">
          Explore <span
            class="highlight"
            style="background-color: #ffffff; color:#ff4342">proven</span
          > ways to work more efficiently
        </h2>
        <p>
          Learn how we have managed to help trucking businesses like yours
          increase their revenue and streamline their operations.
        </p>
        <a href="/casestudies">
          <Button
            text="Browse Case Studies"
            icon={arrowIconWhite}
            class="btn-secondary fw-bold fs-small | studies-btn"
            buttonStyle="color: white; border-color: white; flex-direction: row;"
          />
        </a>
        <iframe
          title="Down arrow animated icon"
          class="down-arrow"
          src="https://lottie.host/?file=bea6e181-adb5-471e-b3c7-f573a808f5bb/I6AZEYsPlR.lottie"
        ></iframe>
      </div>
    </section>

    <!-- proof section -->
    <section class="proof-section">
      <div class="container proof-wrapper">
        <h2 class="fs-secondary-header fw-bold">
          Reliable Routes, <span
            class="highlight"
            style="background-color: #ff4342; color:#fdf7f7">Remarkable</span
          > Results
        </h2>
        <p>
          <span style="color: #ff4342">
            94% of our clients earn an extra $1,500/month OR $18,000/year in
            revenue
          </span> when switching over to our dispatch service. Skip the guesswork,
          trial-and-error and never ending shit show of trying to figure everything
          out yourself and instead grow your revenue with proven frameworks
        </p>
        <div class="graphs">
          <img src={graph1Img} alt="" class="graph" loading="lazy" />
          <img src={graph2Img} alt="" class="graph" loading="lazy" />
        </div>

        <div class="proof-btn-wrapper">
          <a href="/contact">
            <Button
              text="Get More Loads, Less Hassel"
              icon={arrowIconWhite}
              class="btn-primary fw-bold fs-small | proof-btn"
              buttonStyle="color: white;"
            />
          </a>

          <a href="/pricing">
            <Button
              text="Services and Pricing"
              icon={arrowIconRed}
              class="btn-secondary fw-bold fs-small | proof-btn"
            />
          </a>
        </div>
      </div>
    </section>

    <!-- STATS SECTION -->
    <section class="stats-section">
      <div class="container stats-wrapper">
        <Card
          icon={revenueIcon}
          title="Revenue Generated"
          number="$15.2M"
          bodyText="We let our numbers do the talking. $15.2 Million in reported client revenue"
        />
        <Card
          icon={loadsIcon}
          title="Loads Delivered"
          number="5000+"
          bodyText="Over 5000 loads delivered and counting"
        />
        <Card
          icon={clientsIcon}
          title="Satisfied Clients"
          number="127+"
          bodyText="We have served over 127 happy customers so far"
        />
      </div>
    </section>

    <!-- FAQ SECTION -->
    <section class="faq-section">
      <div class="faq-wrapper">
        <h2 class="fs-secondary-header fw-bold">Frequently Asked Questions</h2>
        <ul class="questions">
          <li>
            <Accordion
              id="chck1"
              forLabel="chck1"
              question="What does a dispatch service company actually do?"
              answer="A good dispatch company will get to know your business inside out and will handle thewhole dispatch process from, booking loads, filling out paperwork, communicating withbrokers and also handle any hiccups on the way. They will assess your current routes,revenue you want to generate, overhead costs and then dispatch you loads that's mostprofitable for your business. Part of their strategy should also include continualevaluation to ensure a client is maintaining profitability and is getting the results theywant."
            />
          </li>

          <li>
            <Accordion
              id="chck2"
              forLabel="chck2"
              question="Why don't I dispatch myself instead?"
              answer="Thinking of dispatching on your own? We understand the appeal of doing it yourself, but here's the deal: First, our loads pay 15% more than those you'd find on regular load boards. So, while you might think you're saving some bucks doing it yourself, you're actually leaving money on the table. Plus, we've got some sweet connections with direct brokers and shippers, which means we have exclusive access to private loads that never appear on public boards. And let's not forget the hustle! We handle all the nitty-gritty stuff for you - from making calls, booking loads, to filling out carrier packets and rate confirmations while maintaining communication with brokers until your load is securely delivered. So, with us, you're not just making more money; you're also saving time and stress."
            />
          </li>

          <li>
            <Accordion
              id="chck3"
              forLabel="chck3"
              question="How do I know that I'll get a return on my investment?"
              answer="Because we put our money where our mouth is and give you a chance to try our servicefor FREE! We believe a great product sells itself, that's why we are so confident to havecustomers try it out risk free. Also 94% of our clients make an extra $18,000/year whenswitching over to our dispatch service. And we also make BIG GUARANTEES that otherdispatch companies aren't willing to make."
            />
          </li>

          <li>
            <Accordion
              id="chck4"
              forLabel="chck4"
              question="Do you work with small or big companies?"
              answer="Size doesn't matter over here! Our clients range from 1 truck operations to large fleetswith over 50+ trucks."
            />
          </li>

          <li>
            <Accordion
              id="chck5"
              forLabel="chck5"
              question="Why is GoDispatch the best truck dispatch company?"
              answer="Why are burritos delicious? Why is water wet? No, but seriously. Instead of using this section to convince you, why we're the best truck dispatch company... here are the stats:<br>- 94% of clients make an extra $18,000/year<br>- 15.2 million client revenue generated<br>- Over 127 trucking companies served.<br>- 5000+ loads booked.<br>- 15% higher paying loads than load boards.<br>- 112 reviews (average of 4.8 stars)<br>- #1 fastest-growing dispatch company."
            />
          </li>

          <li>
            <Accordion
              id="chck6"
              forLabel="chck6"
              question="Can you guarantee results"
              answer="We offer guarantees for all of our services. We put our money where our mouth is; if youfind a load that pays higher than the one we have booked you, you don't pay us."
            />
          </li>
        </ul>
      </div>
    </section>
    <Footer />
  </main>
</Layout>
